
div {
    text-align: center;
    background-color: rgb(239, 240, 253);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
  }
  
  .result-div {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: rgb(248, 249, 254);
    font-size: 18px;
  }
 
  mat-form-field, .result-div {
    width: 80%;
  }
  